<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>EAMS</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/employees">Employees</a>
    <a href="/add-employee">Add Employee</a>
    <a href="/request-access">Request Access</a>
    <a href="/access-requests">Access Requests</a>

</div>

<div class="content">

    <h1>Dashboard</h1>

    <div class="card">
        <h3>Total Employees</h3>
        <p>25</p>
    </div>

    <div class="card">
        <h3>Pending Requests</h3>
        <p>7</p>
    </div>

</div>

</body>
</html>


